@charset "ISO-8859-1";

h1{
	text-align: center;
	padding:30px; 
}

h2{
	text-align:center;
	padding-bottom:50px;
}

.main {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 0 auto;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
	  float: left;
  width: 25%;

  margin: 0 auto;
}


